<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/challenges" routerDirection="root" routerLinkActive="active-tab">
        <img src="assets/images/event.png" class="tab-image">
        <ion-label>Challenges</ion-label>
      </ion-tab-button>
      
      <ion-tab-button routerLink="/results" routerDirection="root" routerLinkActive="active-tab">
        <img src="assets/images/statistics.png" class="tab-image">
        <ion-label>Results</ion-label>
      </ion-tab-button>
      
      <ion-tab-button routerLink="/info" routerDirection="root" routerLinkActive="active-tab">
        <img src="assets/images/info.png" class="tab-image">
        <ion-label>Info</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
