<ion-content class="ion-padding">
  <div class="challenge-container">
    <!-- Icon dan Bintang -->
    <div class="star-icon">
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <!-- Gambar Pemandangan -->
    <div class="landscape">
      <img src="assets/images/base.jpg" alt="Landscape">
    </div>

    <!-- Shield Buttons -->
    <div class="shield-container">
      <div class="shield-item">
        <img src="assets/images/aws_000.png" alt="Shield Icon">
        <p>January</p>
      </div>
      <div class="shield-item">
        <img src="assets/images/aws_000.png" alt="Shield Icon">
        <p>March</p>
      </div>
      <div class="shield-item">
        <img src="assets/images/aws_000.png" alt="Shield Icon">
        <p>October</p>
      </div>
    </div>
  </div>
</ion-content>
